[Unit]
Description=dasarang-class Node server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/dasarang-class/current
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
